<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Regeneracion contraseña</title>
		<style type="text/css">
		body,td,th {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			color: #111;
		}
		body {
			background-color: #FFF;
		}
		.destacado1{
			font-size:18px;
		}
		</style>
	</head>
	
	<body>
		Para regenerar su contrase&ntilde;a, pulse sobre el link que encontrar&aacute; a continuaci&oacute;n:
		<br /><br />
		<a href='http://www.mesafija.com/regpswd.php?clave=<%= @user.clave %>'>http://www.mesafija.com/regpswd.php?clave=<%= @user.clave %></a>
		<p><br>
		<img src='http://www.mesafija.com/img/mesafija-email.jpg' alt='mesafija.com' /><br>
		<a href='mailto:info@mesafija.com'>info@mesafija.com</a></p>
		<br /><br />S&iacute;guenos en <a href='https://twitter.com/mesafija' target='_blank'>Twitter</a> y <a href='https://www.facebook.com/mesafija' target='_blank'>Facebook</a>
		<p>&nbsp;</p>
		<p align='center'>
			Para m&aacute;s informaci&oacute;n, vis&iacute;tanos en <a href='http://www.mesafija.com' target='_blank'>www.mesafija.com</a><br>
			Mesafija.com es una marca  registrada de Gesti&oacute;n de Reservas On Line SAS
		</p>
		<p>&quot;Este mensaje de correo electr&oacute;nico y sus documentos adjuntos est&aacute;n dirigidos EXCLUSIVAMENTE a los destinatarios  especificados. La informaci&oacute;n contenida puede ser CONFIDENCIAL y/o estar  LEGALMENTE PROTEGIDA y no necesariamente refleja la opini&oacute;n de <a href='http://www.mesafija.com' target='_blank'>MESAFIJA.COM</a>. Si usted recibe este mensaje por ERROR, por favor  comun&iacute;queselo inmediatamente al remitente y ELIM&Iacute;NELO ya que usted NO ESTA  AUTORIZADO al uso, revelaci&oacute;n, distribuci&oacute;n, impresi&oacute;n o copia de toda o alguna  parte de la informaci&oacute;n contenida. Gracias.&quot;</p>
	</body>
</html>